@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dongle:wght@400;700&family=Fruktur&family=Nanum+Pen+Script&family=Roboto:wght@500&family=Varela+Round&display=swap');

.header-container{
    background-color: #3E065F;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

.header-container>img{
    height: 3rem;
    margin-right: -1rem;
}

.header-container>h4{
    color: #FF0075;
    text-align: center;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-family: 'Fruktur', cursive;
}

button{
   background-color: #3E065F;
   border: none;
}

.menuNav{
    height: 2.4rem;
    background-color: #FF0075;
    transition: .4s ease-in-out;
}

.notVisible{
    display: none;
    transition: .4s ease-in-out;
}

.menuNav>ul{
    margin-top: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.fa-home, .fa-bars, .round{
    color: #fff;
    text-decoration: none;
    
}

.round{
    font-weight: bolder;
}

.menuNav>ul>li{
    margin-top: 0.5rem;
}

.menuNav>ul>li>span{
    color: #3E065F;
    font-weight: bolder;
    margin-left: 0.3rem;
}

.onlySpan{
    margin-right: 0.3rem;
}